:root{
    --main-color4: #044c689a;
    --main-color3: rgb(85, 34, 72);
    --main-color2: #235;
    --main-color1: #234523;
    --main-color: #1f031c;
    --main-color-body: #3d0638;
    --white: #fff;
    
    --hover: rgb(177, 36, 153);
    --link: #235;

    --transition: 1s;
    --transform: translateY(-5px);
}

*{
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    outline: none;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    bottom: 0;
}

/*========================== SCROLL BAR =============================*/
/*
/*width*
::-webkit-scrollbar{
    width: 10px;
}

/*track*
::-webkit-scrollbar-track{
    background: #f1f1f1;

    border-radius: 25px;
}

/*handle*
::-webkit-scrollbar-thumb{
    background: #888;
}
*/
/*width*/
::-webkit-scrollbar{
    width: 10px;
}

/*track*/
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/*handle*/
::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--main-color2);
}

/*******====================     GLOBAL    ================================*********/
.line{
    display: inline-block;
}

a{
    color: var(--link);
    text-decoration: none;
}

li{
    list-style: none;
}

.main-button{
    color: var(--white);
    background: var(--main-color);

    font-size: 25px;

    width: 30%;
    height: 80px;

    border: none;
    border-radius: 10px;

    transition: var(--transition);
}

.main-button:hover{
    transform: var(--transform);

    color: var(--main-color);
    background: none;

    border: 1px solid var(--hover);
}

.title{
    text-align: center;

    font-size: 50px;
}

.small-title{
    font-size: 45px;
}

/*p{
    font-size: 22px;
}*/

img{
    transition: var(--transition);
}

img:hover{
    transform: var(--transform);
}

section{
    padding: 3%;
    margin: 3%;
}

/*========================== ICONS =============================*/
.fa-instagram{
    color: var(--white);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

    border-radius: 50%;
}

.instagram-text{
    color: var(--white);
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

    background-clip: text;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.fa-twitter{
    color: #00acee;
}

.fa-github{
    color: var(--white);
    background: #000;

    border-radius: 25px;
}

.fa-pinterest{
    background: var(--white);
    color: #c8232c;

    border-radius: 25px;
}

.fa-linkedin,
.fa-linkedin-in{
    color: var(--white);
    background: #0072b1;
}

.fa-whatsapp{
    color: var(--white);
    background: #25d366;

    border-radius: 25px;
}

.fa-facebook{
    color: var(--white);
    background: #4267b2;
}

.fa-youtube{
    color: #c4302b;
}

.fa-tiktok{
    color: #111111;
    filter: drop-shadow(2px 0 0 #fd3e3e) drop-shadow(-2px -2px 0 #4de8f4);
}

.fa-spotify{
    /*color: linear-gradient(120deg, #1db954,#191414);*/
    color: #1db954;
    background: #000;
    
    border-radius: 50%;
}

.g-blue{
    color: #4285f4;
}

.o-red{
    color: #db4437;
}

.o-yellow{
    color: #f4b400;
}

.l-green{
    color: #0f9d58;
}

.e-red{
    color: #db4437;

    display: inline-block;

    transform: rotate(-20deg);
}

.fa-reddit{
    color: #ff4500;
    background: var(--white);
    border-radius: 50%;
}

.fa-quora{
    color: #a82400;
}

.fa-podcast{
    color: var(--white);
}

/*******====================     SCROLL TO TOP    ================================*********/
#scroll-to-top{
    width: 80px;
    height: 80px;

    top: 85%;
    left: 90%;

    color: var(--white);
    background: var(--main-color);

    border: none;
    border-radius: 25px;

    position: fixed;

    transition: var(--transition);
}

#scroll-to-top:hover{
    background: none;
    color: var(--main-color);

    border: 1px solid var(--hover);
    border-radius: 50px;
}

#scroll-to-top .fa-arrow-up-long{
    font-size: 40px;
}

/*******====================     NAV    ================================*********/
nav{
    position: fixed;
    
    color: #fafafa;
    background: var(--main-color-body);

    margin: 1%;
    border-radius: 30px;

    width: 100%;

    display: flex;
    justify-content: space-around;
}

nav h1{
    font: bold;
    /*font-size: 40px;*/
}

nav h1:hover{
    color: var(--white);
}

nav ul{
    /*font-size: 20px;*/
    font-size: 1.3rem;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: #fafafa;
    
    margin-left: 20px;

    text-decoration: none;
}

nav ul li a:hover{
    color: var(--hover);
}

#themes{
    font-size: 20px;

    padding: 5px;

    border: 2px solid #fafafa;
    border-radius: 50px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

#light-theme{
    display: none;
}

#light-theme:hover,
#dark-theme:hover{
    color: var(--hover);
}

#menu-btn{
    color: var(--white);

    margin-left: 4%;

    font-size: 2.5rem;
    
    display: none;
    cursor: pointer;

    transition: var(--transition);
}

#menu-btn:hover{
    color: var(--hover);
}

#menu-close{
    display: none;
}

/*==================================== NAV PHONE ============================================*/
.left,
.right{
    width: 45%;
    
    display: inline-block;
    
    margin-left: 2%;
    margin-right: 2%;
}

.left-img,
.right-img{
    width: 45%;
    height: 450px;
    
    display: inline-block;

    margin: 0 2% 2% 2%;

    border-radius: 25px;

    object-fit: cover;
}

/*******====================     HOMEPAGE    ================================*********/
#home-page{
    color: var(--main-color);
    background: url("assets/below the ocean.jpg") no-repeat center;
    /*background: linear-gradient(crimson,black);*/
    background-size: cover;
    background-attachment: fixed;
    
    height: 100vh;
    min-height: 500px;
    padding: 100px 0;
    margin: 0;
}

#home-page h1,
#home-page p,
#home-page .main-button{
    margin-left: 2%;
}

#home-page h1{
    font-size: 6rem;
}

#home-page p{
    font-size: 3rem;
    
    margin-top: 10%;
}

#home-page .main-button a{
    color: var(--white);
    text-decoration: none;
}

#home-page .main-button:hover,
#home-page .main-button a:hover{
    color: var(--main-color-body);
}

/*******====================     WHAT WE DO    ================================*********/
#what-we-do{
    width: 95%;
    margin: 2.5%;
}

#what-we-do .right-img{
    width: 95%;
    height: 300px;

    border-radius: 25px;
    
    object-fit: cover;
}

/*******====================     About Us & SERVICES   ================================*********/
#about-us,
#services{
    color: var(--white);
    background: var(--main-color-body);

    margin: 2% 0;
}

/*******====================     FULL    ================================*********/
.full-img{
    width: 90%;
    height: 300px;
    
    border-radius: 25px;
    
    object-fit: cover;
}

.full-text{
    margin-left: 2%;
}

/*******====================     CONTACTS & SOCIALS    ================================*********/
#contacts h3{
    text-align: center;
}

#contacts form input,
#contacts form textarea{
    width: 100%;
    height: 30px;
    
    /*margin-left: 2%;*/

    margin-bottom: 2%;

    border: 2px solid var(--hover);
    border-radius: 25px;
}

#contacts form textarea{
    resize: none;
}

#contacts form button{
    width: 50%;

    margin-left: 25%;
    margin-right: 25%;
}

.form-button{
    color: var(--white);
    background: var(--main-color);

    height: 20%;
    /*margin-left: 2.5%;*/
    padding: 10px;

    border: none;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--transition);
}

.form-button:hover{
    transform: var(--transform);

    background: none;
    color: var(--main-color);

    border: 1px solid var(--hover);
}

.socials-icons{
    font-size: 3.5rem;
    text-align: center;

    margin-bottom: 1%;

    border: 1px solid var(--hover);
    border-radius: 25px;

    transition: var(--transition);
}

.socials-icons:hover{
    transform: var(--transform);
}

/*******====================     FOOTER    ================================*********/
footer{
    color: var(--white);
    background: var(--main-color);
}

footer p{
    font-size: 22px;
    text-align: center;
    
    margin-bottom: 0;
}

footer p a{
    color: var(--hover);    
    text-decoration: none;
}

footer p a:hover{
    color: var(--link);
}

#footer-socials ul{
    display: flex;
    justify-content: space-around;
}

#footer-socials ul li{
    font-size: 2rem;
    transition: var(--transition);
}

#footer-socials ul li:hover{
    transform: var(--transform);
}

/*******====================     RESPONSIVENESS    ================================*********/
@media screen and (min-width: 1024px) {
    nav ul{
        display: inline-block !important;
    }
}
@media screen and (max-width: 1024px) {
    .socials-icons{
        font-size: 2.5rem;
    }

    #menu-btn{
        display: block;

        margin-right: 2.5%;
    }

    nav ul{
        position: fixed;

        width: 100%;
        height: 92vh;

        margin: 10.5vh 0 0 0;
        border-radius: 20px;

        background: var(--main-color-body);
        
        font-size: 2.5rem;
        text-align: center;
        
        transition: var(--transition);
    }
    
    nav ul li{
        display: block;
    }
    
    nav ul li a{
        color: var(--white);
        font-size: 30px;
    }

    #themes{
        border-color: #fafafa;
    }
}

@media screen and (max-width: 950px) {  
    .left-img,
    .right-img{
        height: 250px;
    }

    /*p{
        font-size: 18px;
    }*/

    #what-we-do .right-img{
        height: 300px;
    }
    
    .full-img{
        height: 250px;
    }
}

@media screen and (min-width: 872px) {
    .appear-phone{
        display: none;
    }
}

@media screen and (max-width: 871px) {
    .appear-laptop{
        display: none;
    }

    nav{
        height: 9%;
    }
}

@media screen and (max-width: 807px) {       
    #home-page p{
        font-size: 2rem;
    }
    
    .main-button{
        font-size: 25px;

        width: 30%;
        height: 60px;
    }
}

@media screen and (max-width: 805px) {
    #scroll-to-top{
        width: 70px;
        height: 70px;
    
        top: 85%;
        left: 85%;
    }
}

@media screen and (max-width: 779px) {       
    #home-page p{
        font-size: 3rem;
    }

    #home-page h1{
        font-size: 5rem;
    }
}

@media screen and (min-width: 601px) {
    #contacts{
        margin-bottom: 2%;
    
        display: flex;
        justify-content: space-evenly;
    }
    
    #contacts div{
        width: 95%;
    }    
}

@media screen and (max-width: 520px) {  
    .left,
    .right
    .left-img,
    .right-img,
    #what-we-do .right-img{
        width: 100%;
    }

    #what-we-do .right-img{
        width: 200%;
        height: 250px;
    }

    .left-img,
    .right-img{
        width: 90%;
        height: 250px;
    }

    .small-title{
        text-align: center;
    }
}

@media screen and (max-width: 481px) {       
    #home-page p{
        font-size: 2.5rem;
    }

    #home-page h1{
        font-size: 4rem;
    }
}

@media screen and (max-width: 475px) {
    #scroll-to-top{
        width: 70px;
        height: 70px;
    
        top: 80%;
        left: 80%;
    }
}

@media screen and (max-width: 439px) {
    .main-button{
        font-size: 25px;
    
        width: 35%;
        height: 60px;
    }
}

@media screen and (max-width: 369px) {       
    #home-page p{
        font-size: 2rem;
    }
}

@media screen and (max-width: 347px) {
    #scroll-to-top{
        width: 60px;
        height: 60px;
    
        top: 85%;
        left: 75%;
    }
}

@media screen and (max-width: 373px) {
    #home-page p{
        font-size: 1.8rem;

        margin-top: 30%;
    }

    #home-page h1{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 300px) {
    nav h1{
        font-size: 1rem;
    }

    #menu-btn{
        font-size: 1rem;
    }

    #themes{    
        padding: 2.5px;
    
        border: 1px solid var(--main-color2);
        border-radius: 15px;
    }
}

@media screen and (max-width: 289px) {       
    #home-page h1{
        font-size: 3rem;
    }
}
